img {
    border: 4px black solid;
}

.container-img {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.row2 {
    display: flex;
    justify-content: space-evenly;
}
.row3 {
    display: flex;
    justify-content: space-evenly;
}