body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

form {
    border: 3px;
}

#purchase_header {
    display: flex;
}

#purchase_header p {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#purchase_datas {
    display: flex;
}

#purchase_datas p {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#product {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#header_info_purchase_shipping {
    display: flex;
}

#header_info_purchase_shipping p {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#infos_purchase_shipping {
    display: flex;
}

#infos_purchase_shipping p {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

h1 {
    border-top: 3px solid black;
    background-color: #e6e6e6;
    padding-left: 10px;
}

button {
    background-color: #ffffff; /* Cor de fundo */
    color: #2ea44f; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: 2px solid #2ea44f; /* Sem borda */
    cursor: pointer; /* Cursor do mouse */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 3px;
}

 /*Modal do rastreio*/
 .modal {
    display: none; /* Por padrão, o modal está oculto */
    position: fixed; /* Permanece fixo na tela */
    z-index: 1; /* Posicionado acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente */
    overflow: auto; /* Adiciona barra de rolagem quando necessário */
}

/* Estilo para o conteúdo do modal */
.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Quando o botão é clicado, exibe o modal */
.botao-abrir-modal:focus + .modal {
    display: block;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  